/*body {
    background-color: #59d8ba;
    color: #332d56;
    font-family: 'Lora', serif;
    line-height: 1.6em;
    margin: 0;
}



#homeIntro h1 {
    text-align: center;
}

.subtitle {
    color: #00719d;
    text-align: center;
}



#myphoto {
    display: flex;
    al
}



.school {
    text-decoration: underline;
}

/*a:link, a:visited {
  background-color: #00b7ba;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #59d8ba;
}*/

body {
        background-color: black;
        color: white;
        margin-left: 10%;
        margin-right: 10%;
    }

@media screen and (max-width: 992px){
    
    body {
        background-color: black;
        color: white;

    }
}

#name {
    text-align: center;
}

#aSnD {
    text-align: center;
}

#myphoto {
    border-radius: 50%;
    width: 200px;
    height: 240px;
}

#about {
    margin-left: 25%;
}

.box-1{
    margin: 1%;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}



.box-2{
    margin-left: 10%;
    margin-right: 10%;

}

.container {
    text-align: left;  /* Aligns button to left */
    padding: 50px;
}

.action-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: white;
    color: black;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    border-radius: 4px;
    border: 2px solid white;
    transition: all 0.3s ease;
    text-align: left;
}
        
.action-button:hover {
    background-color: transparent;
    color: white;
}